/* First half 20th (Futura/modernist mavi) */
:root{
  --bg:#FFFFFF;
  --fg:#0F0F0F;
  --gold:#004B8D;
  --gold-dark:#003a6e;
  --muted:#4a4a4a;
  --accent:#4ea5ff;
  --font-text: Futura, "Futura PT", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial;
  --font-display: Futura, "Futura PT", system-ui, sans-serif;
}
