:root{

  --color-bg:#071E44;
  --color-text:#ECD0BB;
  --color-accent:#D26E3A;       /* ana vurgu */
  --gold-dark:#D8491D;  /* kenar/border */
  --text-muted:#929BAC;
  --accent:#ECD0BB;    

  /* map image for this theme */
  --background-map: url('../images/GameMap.jpg'); /* Koyu temaya uygun varsayılan bir harita */

  /* typography */
  --font-text: "Abril Fatface", "Times New Roman", ui-serif, serif; 
  --font-display: "Abril Fatface", "Times New Roman", serif;
}
