:root{

  --color-bg:#172639;
  --color-text:#CB9323;
  --color-accent:#D5C2A2;       /* ana vurgu */
  --color-highlight:#926D33;  /* kenar/border */
  --text-muted:#926D33;
  --accent:#926D33;    

  /* map image for this theme */
  --background-map: url('../images/GameMap.jpg'); /* Koyu temaya uygun varsayılan bir harita */

  /* typography */
  --font-text: "Libre Caslon Text", "Times New Roman", ui-serif, serif; /* İstenen font */
  --font-display: "Libre Caslon Text", "Times New Roman", serif;
}
