/* Second Half 20th (Bangers, Pop-art inspired ) */
:root{
  /* functional color tokens */
  --color-bg: #FFF200;
  --color-text: #DC35C7;

  --color-accent: #00BFFF;          /* primary accent */
  --color-accent-border: #0B0C10;   /* border shade */
  --color-highlight: #F5F5F5;       /* hover tone */
  --text-muted: #0B0C10;

  /* map background for this theme */
  --background-map: url('../images/Map4.jpg');

  /* typography */
  --font-text: 'Bangers';
  --font-display: 'Bangers';
}
