/* First Half 20th (Poppins / Art Deco inspired) */
:root{
  /* functional color tokens */
  --color-bg: hsl(240, 42%, 18%);
  --color-text: #f8f1e7;

  --color-accent: #f8f1e77f;          /* color accent*/
  --color-accent-border: #EEB765;   /* border accent */
  --color-highlight: #B03A2E;       /* hover accent */
  --text-muted: #4A4A4A;

  /* map background for this theme */
  --background-map: url('../images/Map3.jpg');

  /* typography */
  --font-text: 'Poppins';
  --font-display: 'Poppins';
}
